{% extends 'layoutShop.html.twig' %}

{% block title %}Liste des Produits{% endblock %}

{% block content %}
    <div class="container">
        <h1>Liste des Produits</h1>

        <div class="row">
            {% for product in products %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{  vich_uploader_asset(product, 'attachmentFile') }}" class="card-img-top product-image" alt="{{ product.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.title }}</h5>
                          {#  <p class="card-text">{{ product.content }}</p> #}
                            <p class="card-text">Prix: {{ product.price }} €</p>
                            <p class="card-text">Origine : {{ product.origine }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{{ path('product_show', {'id': product.id}) }}" class="btn btn-primary">Détails</a>
                            <a href="{{ path('cart_add', {'id': product.id}) }}" class="btn btn-primary">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


