{% extends 'layoutShop.html.twig' %}

{% block title %}Détails du Produit{% endblock %}

{% block content %}
    <div class="container">
        <h1>Détails du Produit</h1>

        <div class="card">
            <div class="row no-gutters">
                <div class="col-md-4">
                        <img src="{{  vich_uploader_asset(product, 'attachmentFile') }}" class="card-img-top product-image" alt="{{ product.title }}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ product_title }}</h5>
                      <p class="card-text">{{ product_content }}</p>
                        <p class="card-text">Prix: {{ product_price }} €</p>
                        <p class="card-text">Origine: {{ product_origine }}</p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a href="{{ path('cart_add', {'id': product_id}) }}" class="btn btn-primary">Ajouter au panier</a>
                <a href="{{ path('product_list') }}" class="btn btn-secondary">Retour à la liste des produits</a>
            </div>
        </div>
    </div>
{% endblock %}
