
{% extends 'layoutShop.html.twig' %}


{% block title %}Hello CategoryShopController!{% endblock %}

{% block content %}

<div class="container">
    <div class="row my-5">

        <!-- Barre Latérale Gauche -->
        <aside class="col-md-4 sidebar sidebar-left">
            <!-- Contenu de la barre latérale gauche -->
                <div class="row widget">
					<div class="col-xs-12">
						<h4>Vente flash</h4>
						<p>Bienvenue chez MAMAD-T ! Votre boutique de proximité, spécialisée dans les produits alimentaires africains,
						nous vous proposons un large choix de produits frais et de qualité.</p>
					</div>
				</div>
				<div id="carouselExample" class="carousel slide">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="{{ asset('eshop/assets/img/ArachideFrais.jpg') }}" class="d-block w-100"  alt="...">

						</div>
						<div class="carousel-item">
							<img src="{{ asset('eshop/assets/img/bananeplantain.jpg') }}"class="d-block w-100" alt="...">
						</div>
						<div class="carousel-item">
							<img src="{{ asset('eshop/assets/img/CategoriesAccessoires.jpg') }}" class="d-block w-100" alt="...">
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
				<div class="row widget">
					<div class="col-xs-12">
						<p>Dans nos rayons, vous retrouverez des fruits et légumes exotiques, des épices, des plats surgelés et de nombreux autres articles et accessoires de qualité.<br>
    					Régulièrement approvisionnés, nous vous faisons découvrir chaque jour des spécialités différentes, directement importées des quatre coins de l'Afrique.</p>
					</div>
				</div>
        </aside>
        <!-- /Fin Barre Latérale Gauche -->



        <!-- Contenu principal de l'article -->
        <article class="col-md-8 maincontent">
            <header class="page-header">
                <h1 class="page-title">Categories</h1>
            </header>

            <div class="row row-cols-1 row-cols-md-3 g-4 my-2">
      {% for category in categories %}
                    <div class="col">
                        <div class="card">
<img src="{{ asset('eshop/assets/img/' ~ category.slug ~ '.jpg') }}" width="150" height="200" class="card-img-top" alt="{{ category.name }}">
                             <div class="card-body">
                                <h5 class="card-title">
                                        <a href="{{ path('products_by_category', {'categoryId': category.id}) }}" class="text-decoration-none">{{ category.name }}</a>
                                </h5>
                            </div>
                        </div>
                    </div>
         	      {% endfor %}
            </div>
        </article>
        <!-- /Fin Contenu principal de l'article -->
    </div>
</div>

{% endblock %}








