{% extends 'layoutShop.html.twig' %}
{% block title %} Accueil {% endblock %}

{% block content %}
    <div class="d-none d-lg-block bg-secondary position-fixed top-0 start-0 h-100" style="..."> </div>
    <div class="container position-relative zindex-2 pt-5 pb-lg-5 pb-md-4 pb-2">
        <div class="row">
            <div class="col-lg-6">
                {{ form_start(form) }}
                <h1 class="h2 pb-2">Creation de la commande</h1>
                <h3 class="fs-base fw-normal text-body text-uppercase pb-1 pb-sm-1">1.
                    <span class="text-decoration-underline ms-1">Shipping details</span>
                </h3>
                <p>Si vous n'avez pas d'adresse, <a href="#">Ajoutez une adresse</a> dans votre espace compte</p>
                <h3 class="fs-base fw-normal text-body text-uppercase pb-1 pb-sm-1">2.
                    <span class="text-decoration-underline ms-1">Choisir votre livraison</span>
                </h3>
                {{ form_row(form.addresses)|replace({'[-br]' : '</br>'})|raw }}
                <h3 class="fs-base fw-normal text-body text-uppercase mt-m4 mt-md-n3 pt-5 pb-2 pb-sm-3">3.
                    <span class="text-decoration-underline ms-1">Mode de livraison</span>
                </h3>
                {{ form_row(form.transporter)|replace({'[-br]' : '</br>'})|raw }}
                <h3 class="fs-base fw-normal text-uppercase mt-n4 mt-md-n3 pt-5 pb-2 pb-2 pbpb-sm-3">4.<span class="text-decoration-underline ms-1">Mode de paiement</sapn></h3>
                {{ form_row(form.payment) }}
            </div>
            <div class="col-lg-5 offset-lg-1 pt-1">
                <h2 class="pb-2 pt-md-2 my-4 mt-lg-5">Recapitulatif de la commande
                    <span class="fs-base fw-normal text-muted">({{ recapCart|length }} produits)</span>
                </h2>
                {% set total = 0 %}
                {% for product in recapCart %}
                    {% set total = total + (product.product.price * product.quantity) %}
                    <div class="d-sm-flex align-items-center border-top py-4">
                        <a class="d-inline-block flex-shrink-0 bg-secondary rounded-1 p-sm-2 p-xl-3 mb-2 mb-sm-0"
                           href="shop-single.html">
                            <img src="{{ product.product.attachment }}" width="80"
                                 height="88"  alt="{{ product.product.title }}">
                        </a>
                        <div class="w-100" pt-1 ps-sm-4">
                            <div class="d-block">
                                <div class="me-3" style="position: relative; top: 15px;">
                                    <h3 class="h5 mb-2"> <a href="shop-single.html">{{ product.product.title }}</a></h3>
                                    {# <p>{{ product.product.origine }}</p> #}
                                </div>
                                <div>
                                    <p class="mb-2">Quantité : x{{ product.quantity }} - Prix du produit: {{ (product.product.price / 100)|number_format(2, '.', '.') }} €</p>
                                </div>
                            </div>
                            <div class="nav justify-content-end mt-n4">
                                <a class="nav-link fs-xl p-2" href="{{ path('cart_remove', {id: product.product.id}) }}"
                                   data-bs-toggle="tooltip" title="Remove">
                                    <i class="ai-trash"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="d-flex align-items-center justify-content-between border-top fs-xl pt-4 mb-4">
                    Total: <span class="fs-3 fw-semibold text-dark ms-2">{{ (total / 100)|number_format(2, '.', '.') }} €</span>
                </div>
                <div class="mt-5 text-center">
                    <a href="{{ path('payment_stripe', { 'reference': reference }) }}" class="btn btn-lg btn-primary" style="border-radius: 6px; position: relative; top: 20px;">Valider votre commande</a>
                </div>

            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
